@import url("/src/scss/null.css");
@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

[class*="__container"] {
  max-width: 1087px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* PC */
@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
/* Tablet */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

.main {
  flex: 1 1 auto;
  font-family: Rubik;
}
.start {
  background-color: #fafbfd;

  &__container {
    padding: 150px 15px 50px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    & ::before {
      content: "";
      position: absolute;
      right: 252px;
      top: 0;
      transform: translate(100%, 0);
      width: 100vw;
      height: 100%;
      border-radius: 30px 0px 0px 30px;
      background: #ec5863;
      @media (max-width: 991.98px) {
        right: 175px;
        border-radius: 20px 0px 0px 20px;
      }
      @media (max-width: 767.98px) {
        height: 80px;
        border-radius: 10px 0px 0px 10px;
      }
    }
  }

  &__content {
    flex: 0 1 48%;
    padding: 0px 30px 0px 20px;
  }

  &__video {
    flex: 1 1 100%;
    padding: 60px 0px 0px 20px;
  }

  &__image {
    flex: 0 1 52%;
    & img {
      position: relative;
      z-index: 2;
      max-width: 100%;
    }
  }
}
.block-text {
  max-width: 410px;
  &__title {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rubik;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 126%;
    &:not(:last-child) {
      margin: 0px 0px 12px 0px;
    }
    & span {
      color: #4285f4;
    }
  }

  &__text {
    color: #616161;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.5%;
    letter-spacing: 0.96px;
    &:not(:last-child) {
      margin: 0px 0px 24px 0px;
    }
  }

  &__button {
  }
}

.video-start {
  display: inline-flex;
  align-items: center;
  &__icon {
    flex: 0 0 44px;
  }
  &__body {
    padding: 0px 0px 0px 12px;
  }
  &__title {
    color: #b0b0b0;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%; /* 16.38px */
    letter-spacing: 1.04px;
    &:not(:last-child) {
      margin: 0px 0px 5px 0px;
    }
  }

  &__text {
    color: #000;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%; /* 11.34px */
    letter-spacing: 1.485px;
    text-transform: uppercase;
  }
}

.button {
  display: inline-block;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1.4px;
  line-height: 12px;
  color: #fcfdfe;
  padding: 14px 30px;
  border-radius: 5px;
  background-color: #ec5863;
  transition: background-color 0.3s ease 0s;
  &:hover {
    background-color: #f07c84;
  }
  &_blue {
    background: #4285f4;
    &:hover {
      background: #6892d6;
    }
  }
}

@media (max-width: 767.98px) {
  .start {
    &__container {
      &::before {
        display: none;
      }
    }
    &__block-text {
      min-width: none;
    }
    &__content {
      flex: 1 1 100%;
    }
  }
}

////////////////////////

.safe {
  padding: 80px 0px;
  background-color: #fafbfd;
  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__content {
    flex: 0 1 50%;
  }

  &__media {
    flex: 0 1 50%;
    padding: 0px 0px 0px 47px;
    transition: all 1s ease-in 4s;
    &:hover {
      .media-safe {
        &__decor1,
        &__decor2,
        &__decor3 {
          scale: (120%);
        }
      }
    }
  }

  .media-safe {
    width: 373px;
    text-align: center;
    position: relative;
    &__decor1 {
      position: absolute;
      background-color: #ec5863;
      top: 0;
      left: 0;
      width: 147px;
      height: 147px;
      border-radius: 30px;
    }
    &__decor2 {
      position: absolute;
      background-color: #ec5863;
      bottom: 0;
      left: 33px;
      border-radius: 30px;
      width: 77px;
      height: 77px;
    }
    &__decor3 {
      position: absolute;
      background-color: #ec5863;
      bottom: 107px;
      right: 34px;
      border-radius: 30px;
      width: 77px;
      height: 77px;
    }
  }

  .media-safe_image {
    display: inline-block;
    position: relative;
    z-index: 5;
  }
}
